<div>
  <h1>Ventas</h1>
  <table>
    <thead>
      <tr>
        <th>Mes</th>
        <th *ngFor="let sucursal of sucursales">{{ sucursal }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let venta of ventas; let i = index">
        <td>{{ meses[i]?.Mes }}</td>
        <td *ngFor="let sucursal of sucursales">
          <input
            type="number"
            [(ngModel)]="venta[sucursal]"
            (change)="updateVenta(i)"
            [disabled]="!isAdmin"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>

<button *ngIf="isAdmin" (click)="borrarSucursal()">Borrar Sucursal</button>
<button *ngIf="isAdmin" (click)="agregarSucursal()">Agregar Sucursal</button>

<div>
  <a routerLink="/barra">Gráfico Barra</a>
  <hr>
  <a routerLink="/area">Gráfico Línea</a>
  <hr>
  <a routerLink="/barraApi">Gráfico Barras Apiladas</a>
</div>
