<div class="bg-gray-100 min-h-screen py-8">
  <h1 class="text-4xl font-bold text-emerald-600 text-center mb-6">
    Bienvenidos a AFK S.A
  </h1>

  <!-- Sección de tarjetas de KPIs -->
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 px-8 mb-8">
    <div class="bg-white p-4 rounded shadow-md">
      <h2 class="text-xl font-bold text-gray-800">
        Total de articulos a la venta
      </h2>
      <a class="text-2xl font-semibold text-emerald-600"
      routerLink="/articulos">{{ totalArticulos }}</a>
    </div>
    <div class="bg-white p-4 rounded shadow-md">
      <h2 class="text-xl font-bold text-gray-800">Clientes Registrados</h2>
      <a class="text-2xl font-semibold text-emerald-600" routerLink="/clientes">{{ totalClientes }}</a>
    </div>
    <div class="bg-white p-4 rounded shadow-md">
      <h2 class="text-xl font-bold text-gray-800">Sucursales Activas</h2>
      <a class="text-2xl font-semibold text-emerald-600"
      routerLink="/sucursales">{{ totalSucursales }}</a>
    </div>
    <div class="bg-white p-4 rounded shadow-md">
      <h2 class="text-xl font-bold text-gray-800">Crecimiento Mensual</h2>
      <p class="text-2xl font-semibold text-emerald-600">+15%</p>
    </div>
  </div>

  <!-- Sección de novedades y tareas pendientes -->
  <div class="mt-10 px-8">
    <h2 class="text-2xl font-bold text-emerald-600 mb-4">Novedades</h2>
    <div class="bg-white p-6 rounded shadow-md">
      <ul class="list-disc list-inside text-gray-700">
        <li>
          <strong>Apertura de Nueva Sucursal:</strong> Estamos emocionados de
          anunciar la apertura de nuestra nueva sucursal en la ciudad de
          Córdoba. ¡Esperamos su visita!
        </li>
        <li class="mt-2">
          <strong>Promociones Especiales de Octubre:</strong> No te pierdas
          nuestras promociones especiales en productos seleccionados. ¡Visita
          nuestras sucursales para obtener más información!
        </li>
        <li class="mt-2">
          <strong>Nueva Alianza Comercial:</strong> AFK S.A ha firmado un
          acuerdo estratégico con ProLogistics para optimizar la cadena de
          suministros y mejorar la eficiencia en la distribución de productos.
        </li>
        <li class="mt-2">
          <strong>Capacitación para el Personal:</strong> Se llevará a cabo una
          capacitación en ventas y atención al cliente el próximo miércoles.
          Todos los empleados deben inscribirse antes del viernes.
        </li>
        <li class="mt-2">
          <strong>Evento Anual de Clientes:</strong> Invitamos a todos nuestros
          clientes VIP al evento anual que se realizará en el Hotel Central el
          próximo 20 de noviembre. ¡No te lo pierdas!
        </li>
      </ul>
    </div>
  </div>
</div>